.container__tertiary {
    background-color: $secondary;
    padding: 70px 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    .tertiary__section {
        max-width: 1170px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
        gap: 2rem;

        .tertiary__section-devices {
            width: 480px;
        }

        .tertiary__section-title {
            font-size: 32px;
            font-weight: 900;
            letter-spacing: -0.5px;
            color: $white;
        }

        .tertiary__section-list {
            display: flex;
            align-items: center;

            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            color: $white;

            li {
                display: flex;
                align-items: center;

                &:not(:last-child)::after {
                    content: "•";
                    font-size: 24px;
                    padding: 0 14px;
                    color: $color-hover;
                }

                a {
                    color: $color-hover;
                    text-decoration: underline;

                    transition: .3s ease;
                    &:hover, &:active {
                        filter: brightness(1.5);
                    }
                }
            }
        }
    }
}